body{
    font-family: 'Montserrat', sans-serif;
}

.camera-img-div, .dataset-description-div{
    height: 100%;
}

.dataset-gifs-div .row{
    margin-bottom: 20px;
}

.gifs-row-1, .gifs-row-2{
    text-align: center;
}

.gifs-row-1 img, .gifs-row-2 img{
    margin: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

images-row img{
    margin: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 4px;;
}

.tables-div{
    padding: 0 30px;
}


  