.camera-img-div, .dataset-description-div{
    height: 100%;
}

.gifs-row-1, .gifs-row-2{
    text-align: center;
}

.gifs-row-1 img, .gifs-row-2 img{
    border: 1px solid grey;
    border-radius: 5px;
}

.tables-div{
    padding: 0 30px;
}

.col-sm-4{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media screen and (max-width: 767px){
    .col-sm-4{
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}


  