body{
    font-family: 'Montserrat', sans-serif;
}

#project-title{
    font-size: 2.5em;
    font-weight: 500;
    margin: 0;
}

.card{
    border-radius: 10px;
}

.sidebar{
    transition-duration: 0.5s; 
    position: static;  
}

.btn-link{
    font-size: 1.3em;
    padding: 1px;
}

@media screen and (max-width:768px){

    .sidebar{
        position: absolute;
        z-index: 2;
    }

    #project-title{
        font-size: 1.5em;
        font-weight: 550;
    
    } 
}